In [0]:
# pandas
# 행에 '열 레이블index'을 부착한 n차원 행렬
# 자료구조를 제공하는 파이썬 라이브러리 (R의 데이터프레임과 유사)
# 지원하는 자료구조는 Series(벡터..), DataFrame, Panel임
# 단, 0.20 이후로 Panel은 deprecated됨

# pandas의 창시자 중 한 명은 헤피펀드 애널리스트로 일하며 파이썬에서 금융 시계열을 다루기 위한 목적으로 개발함

In [0]:
# 공식사이트 : pandas.pydata.org
# 설치방법 : pip install pandas

import numpy as np
import pandas as pd

# pandas 자료구조1: Series
# R의 벡터와 유사한 자료구조 (개별적인 열..) : 1차원 배열

# pandas 자료구조2: DataFrame
# R의 데이터프레임과 유사한 자료구조 : 2차원 배열

# pd.Series(데이터, 인덱스, 자료형)
# 빈 Series 객체 생성
a = pd.Series()
print(a)

# numpy 배열로 Series 객체 생성
b = pd.Series([1,2,3,4,5])
print(b)

b = pd.Series([1,2,3,4,5],
             index=['a','b','c','d','e'])
print('시계열 자료 : ', b)
print('시계열 자료값 : ', b.values)
print('시계열 레이블 인덱스 : ', b.index)
print('시계열 2번 자료 : ', b[1])
print('시계열 3,4번 자료 : ', b[2:4]) # : 전후로 뒤에 오는 value는 => value-1 까지 출력됨

print()

data = np.array(['a','b','c','d','e'])
c = pd.Series(data, index=[100, 99, 98, 97, 96])
print(c)

Series([], dtype: float64)
0    1
1    2
2    3
3    4
4    5
dtype: int64
시계열 자료 :  a    1
b    2
c    3
d    4
e    5
dtype: int64
시계열 자료값 :  [1 2 3 4 5]
시계열 레이블 인덱스 :  Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
시계열 2번 자료 :  2
시계열 3,4번 자료 :  c    3
d    4
dtype: int64

100    a
99     b
98     c
97     d
96     e
dtype: object

In [0]:
# pandas 자료구조에서 정수형 인덱스를 사용하는 경우, 
# 파이썬의 slice 연산과 혼동될 위험이 존재
# 따라서, pandas 만의 특별한 인덱서indexer 제공

# iloc : 정수형 인덱스로 요소를 조회
# loc : 문자형 인덱스로 요소를 조회
# ix : 정수/문자형 인덱스로 요소를 조회

c = pd.Series([1,2,3,4,5],
             index=['a','b','c','d','e'])
print(c)
print('시계열 1번자료', c[0])
print('시계열 2,3,4번자료', c[1:5])
print('시계열 2,3,4번자료 via iloc => ', c.iloc[1:5])
# print('시계열 2,3,4번자료', c.loc[1:5]) <- 이건 오류
print('시계열 2,3,4번자료 via loc => ', c.loc['b':'e'])
print('시계열 2,3,4번자료 via ix => ', c.ix[1:5])
print('시계열 2,3,4번자료 via ix => ', c.ix['b':'e'])
print('시계열 2,3,4번자료 via ix => ', c.ix[['b','d','e']]) #특정 요소 몇개만 뽑아낼때는 bracket으로 한 번 더 감쌈 -_-;;

a    1
b    2
c    3
d    4
e    5
dtype: int64
시계열 1번자료 1
시계열 2,3,4번자료 b    2
c    3
d    4
e    5
dtype: int64
시계열 2,3,4번자료 via iloc =>  b    2
c    3
d    4
e    5
dtype: int64
시계열 2,3,4번자료 via loc =>  b    2
c    3
d    4
e    5
dtype: int64
시계열 2,3,4번자료 via ix =>  b    2
c    3
d    4
e    5
dtype: int64
시계열 2,3,4번자료 via ix =>  b    2
c    3
d    4
e    5
dtype: int64
시계열 2,3,4번자료 via ix =>  b    2
d    4
e    5
dtype: int64

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  if sys.path[0] == '':

In [0]:
# Dict로 Series 객체 생성
data = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5}
d = pd.Series(data)
print(d)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [0]:
# 단일값scalar으로 Series 객체 생성
# 단일값으로 Series 객체 생성 시 index를 지정해주는게 좋음 (지정 안 하면 default는 해당 스칼라 요소 1개 <- index 0에 매칭)

idx = ['a','b','c','d','e']
e = pd.Series(10, index=idx)
print(e)

a    10
b    10
c    10
d    10
e    10
dtype: int64

In [0]:
e = pd.Series(10)
print(e) # default로. 해당 스칼라 요소 1개 <- index 0에 매칭

0    10
dtype: int64

In [0]:
# pandas 자료구조2 : DataFrame
# R의 데이터프레임과 유사한 자료구조 : 2차원 데이터
# pd.DataFrame(데이터, 인덱스, 컬럼테이블, 자료형)

In [0]:
f = pd.DataFrame()
print(f)

Empty DataFrame
Columns: []
Index: []

In [0]:
# list 객체로 DataFrame 객체 생성
data = [1,2,3,4,5]
g = pd.DataFrame(data) #인덱스는 자동생성되지만, column(열)명 없음
print(g)

   0
0  1
1  2
2  3
3  4
4  5

In [0]:
data = [1,2,3,4,5]
g = pd.DataFrame(data, columns=['가'])
print(g)

   가
0  1
1  2
2  3
3  4
4  5

In [0]:
# 3행 2열 배열로 DataFrame 객체 생성
data = [['지현',75],['수지',85],['혜교',73]]
g = pd.DataFrame(data, columns=['이름','국어'])
print(g)

   이름  국어
0  지현  75
1  수지  85
2  혜교  73

In [0]:
# Dict로 DataFrame 객체 생성
data = {'이름':['지현','수지','혜교'], '국어':[98,65,78]} # dict 구조에서 각 key값에 상응하는 value들을 bracket으로 묶어놨음에 유의
h = pd.DataFrame(data, index=[1,2,3])
print(h)

   이름  국어
1  지현  98
2  수지  65
3  혜교  78

In [0]:
# Dict를 list로 묶은 객체로 DataFrame 객체 생성
data = [{'이름':'지현','국어':99},{'이름':'수지','국어':79},{'이름':'혜교','국어':59}]
h = pd.DataFrame(data, index=[1,2,3])
print(h)

   국어  이름
1  99  지현
2  79  수지
3  59  혜교

In [0]:
# Series 객체로 DataFrame 객체 생성

data = {'이름' : pd.Series(['지현','수지','혜교'], index=[1,2,3]),
    '국어' : pd.Series([99,78,56], index=[1,2,3])}
i = pd.DataFrame(data)
print(i)

   이름  국어
1  지현  99
2  수지  78
3  혜교  56

In [0]:
name = ['지현','수지','혜교']
kor = [99, 56, 77]
idx = np.arange(1,4)
data = {'이름':name,'국어':kor}
i = pd.DataFrame(data, index=idx)
print(i)

   이름  국어
1  지현  99
2  수지  56
3  혜교  77

In [0]:
# ex) leadership 데이터를
# pandas DataFrame

manager = np.arange(1,6)
date = ['10/24/14','10/28/14','10/01/14','10/12/14','05/01/14']
country = ['US','US','US','US','US']
gender = ['M','F','F','M','F']
age = [32,45,25,39,99]
q1 = [5,3,3,3,2]
q2 = [4,5,5,3,2]
q3 = [5,2,5,4,1]
q4 = [5,5,5,0,2]
q5 = [5,5,2,0,1]
idx = np.arange(1,6)
data = {'manager':manager,'date':date,'country':country,'gender':gender,'age':age,'q1':q1,'q2':q2,'q3':q3,'q4':q4,'q5':q5}
leadership = pd.DataFrame(data, index=idx)
print(leadership)

   manager      date country gender  age  q1  q2  q3  q4  q5
1        1  10/24/14      US      M   32   5   4   5   5   5
2        2  10/28/14      US      F   45   3   5   2   5   5
3        3  10/01/14      US      F   25   3   5   5   5   2
4        4  10/12/14      US      M   39   3   3   4   0   0
5        5  05/01/14      US      F   99   2   2   1   2   1

In [0]:
# 데이터프레임 각 요소에 접근하기
print('나이 컬럼은?', leadership['age'],
     leadership.age, leadership.iloc[:,4], leadership.loc[:,'age'],
     leadership.ix[:,4], leadership.ix[:,'age']) # 위 아래 다섯개 다 차이 없음

print('질문 컬럼 1,5는?', leadership[['q1','q5']], #q1, q5 2개만
     leadership.loc[:,'q1':'q5']) #q1~q5 5개 전부다
print()
print(leadership.iloc[[2,4]])

나이 컬럼은? 1    32
2    45
3    25
4    39
5    99
Name: age, dtype: int64 1    32
2    45
3    25
4    39
5    99
Name: age, dtype: int64 1    32
2    45
3    25
4    39
5    99
Name: age, dtype: int64 1    32
2    45
3    25
4    39
5    99
Name: age, dtype: int64 1    32
2    45
3    25
4    39
5    99
Name: age, dtype: int64 1    32
2    45
3    25
4    39
5    99
Name: age, dtype: int64
질문 컬럼 1,5는?    q1  q5
1   5   5
2   3   5
3   3   2
4   3   0
5   2   1    q1  q2  q3  q4  q5
1   5   4   5   5   5
2   3   5   2   5   5
3   3   5   5   5   2
4   3   3   4   0   0
5   2   2   1   2   1

   manager      date country gender  age  q1  q2  q3  q4  q5
3        3  10/01/14      US      F   25   3   5   5   5   2
5        5  05/01/14      US      F   99   2   2   1   2   1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

In [0]:
# ex) loc, iloc, ix를 이용해서 요소 탐색하기
df = pd.DataFrame(np.arange(1,26).reshape(5,5), index=list('abcde'),
                 columns=['가','나','다','10','20'])
print(df)
print()

print('a/b/c행, 10/20열 출력 => ', df.iloc[:3, 3:])
print('a/b/c행, 10/20열 출력 => ', df.loc[:'c', '10':])
print('a/b/c행, 10/20열 출력 => ', df.ix[:3, '10':])
print('a/b/c행, 10/20열 출력 => ', df.ix[:'c', 3:])

    가   나   다  10  20
a   1   2   3   4   5
b   6   7   8   9  10
c  11  12  13  14  15
d  16  17  18  19  20
e  21  22  23  24  25

a/b/c행, 10/20열 출력 =>     10  20
a   4   5
b   9  10
c  14  15
a/b/c행, 10/20열 출력 =>     10  20
a   4   5
b   9  10
c  14  15
a/b/c행, 10/20열 출력 =>     10  20
a   4   5
b   9  10
c  14  15
a/b/c행, 10/20열 출력 =>     10  20
a   4   5
b   9  10
c  14  15

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  if __name__ == '__main__':

In [0]:
# 외부 데이터파일을 이용해서 DataFrame 객체 만들기
# csv, excel, json, xml, ... 등등 지원함
# pd.read_csv(경로, 구분자, 인코딩, ...)
# aw = pd.read_csv('c:/Java/data/applewood.txt', sep=' ')
 #print(aw)

In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
# DataFrame 출력 시 칼럼이 잘리는 경우
# pd.set_option 함수를 이용해서 출력양식을 변경함

pd.set_option('display.max_columns',50)
pd.set_option('display.width',100)

In [0]:
import pandas as pd
from google.colab import files
import os
os.getcwd

uploaded = files.upload()
ph02 = pd.read_csv('applewood.txt')
print(ph02)
print('구분선------------------------------')
print(ph02.shape)
print('구분선------------------------------')

idx = np.arange(1,ph02.shape[0]+1)
ph02.index = idx
print(ph02) # 당초 read_csv로 불러온 파일은 인덱스가 따로 없었지만, 대상.index 를 통해 생성시켜줌 (idx 먼저 만들어준 뒤)

Saving applewood.txt to applewood (13).txt
                          Age Profit Location Vehicle-Type Previous
21 $1                                          387 Tionesta Sedan 0
23 1                                            754 Sheffield SUV 1
24 1                                         817 Sheffield Hybrid 1
25 1                                        040 Sheffield Compact 0
26 1                                               273 Kane Sedan 1
27 1                                          529 Sheffield Sedan 1
27 3                                               082 Kane Truck 0
28 1                                                 951 Kane SUV 1
28 2                                         692 Tionesta Compact 0
29 1                                          206 Sheffield Sedan 0
29 1                                               342 Kane Sedan 2
30 443 Kane Sedan 3                                             NaN
30 754 Olean Sedan 2                                            NaN
30 1                                          621 Sheffield Truck 1
31 870 Tionesta Sedan 1                                         NaN
31 1                                               174 Kane Truck 0
31 1                                          412 Sheffield Sedan 1
31 1                                           809 Tionesta Sedan 1
31 2                                               415 Kane Sedan 0
32 1                                          546 Sheffield Truck 3
32 2                                             148 Tionesta SUV 2
32 2                                        207 Sheffield Compact 0
32 2                                             252 Tionesta SUV 0
33 1                                                 428 Kane SUV 2
33 1                                                889 Olean SUV 1
34 1                                              166 Olean Sedan 1
34 1                                           320 Tionesta Sedan 1
34 2                                              265 Olean Sedan 0
35 1                                              323 Olean Sedan 2
35 1                                               761 Kane Sedan 1
...                                                             ...
56 1                                            957 Sheffield SUV 1
56 2                                              240 Olean Sedan 0
56 2                                               695 Kane Sedan 2
57 1                                              325 Olean Sedan 1
57 2                                          250 Sheffield Sedan 2
57 2                                         279 Sheffield Hybrid 1
57 2                                          626 Sheffield Sedan 2
58 1                                         501 Sheffield Hybrid 1
58 1                                               752 Kane Sedan 3
58 2                                                 058 Kane SUV 1
58 2                                         370 Tionesta Compact 0
58 2                                            637 Sheffield SUV 1
59 1                                          426 Sheffield Sedan 0
59 2                                                944 Olean SUV 2
60 2                                            147 Olean Compact 2
61 1                                                 973 Kane SUV 3
61 2                                              502 Olean Sedan 0
62 783 Sheffield Hybrid 1                                       NaN
62 1                                              538 Olean Truck 1
63 2                                            339 Olean Compact 1
64 2                                               700 Kane Truck 0
65 2                                               222 Kane Truck 1
65 2                                          597 Sheffield Truck 0
65 2                                             742 Tionesta SUV 2
68 1                                          837 Sheffield Sedan 1
69 2                                                 842 Kane SUV 0
70 2                                              434 Olean Sedan 4
72 1                                              640 Olean Sedan 1
72 1                                             821 Tionesta SUV 1
73 2                                            487 Olean Compact 4

[180 rows x 1 columns]
구분선------------------------------
(180, 1)
구분선------------------------------
    Age Profit Location Vehicle-Type Previous
1                        387 Tionesta Sedan 0
2                         754 Sheffield SUV 1
3                      817 Sheffield Hybrid 1
4                     040 Sheffield Compact 0
5                            273 Kane Sedan 1
6                       529 Sheffield Sedan 1
7                            082 Kane Truck 0
8                              951 Kane SUV 1
9                      692 Tionesta Compact 0
10                      206 Sheffield Sedan 0
11                           342 Kane Sedan 2
12                                        NaN
13                                        NaN
14                      621 Sheffield Truck 1
15                                        NaN
16                           174 Kane Truck 0
17                      412 Sheffield Sedan 1
18                       809 Tionesta Sedan 1
19                           415 Kane Sedan 0
20                      546 Sheffield Truck 3
21                         148 Tionesta SUV 2
22                    207 Sheffield Compact 0
23                         252 Tionesta SUV 0
24                             428 Kane SUV 2
25                            889 Olean SUV 1
26                          166 Olean Sedan 1
27                       320 Tionesta Sedan 1
28                          265 Olean Sedan 0
29                          323 Olean Sedan 2
30                           761 Kane Sedan 1
..                                        ...
151                       957 Sheffield SUV 1
152                         240 Olean Sedan 0
153                          695 Kane Sedan 2
154                         325 Olean Sedan 1
155                     250 Sheffield Sedan 2
156                    279 Sheffield Hybrid 1
157                     626 Sheffield Sedan 2
158                    501 Sheffield Hybrid 1
159                          752 Kane Sedan 3
160                            058 Kane SUV 1
161                    370 Tionesta Compact 0
162                       637 Sheffield SUV 1
163                     426 Sheffield Sedan 0
164                           944 Olean SUV 2
165                       147 Olean Compact 2
166                            973 Kane SUV 3
167                         502 Olean Sedan 0
168                                       NaN
169                         538 Olean Truck 1
170                       339 Olean Compact 1
171                          700 Kane Truck 0
172                          222 Kane Truck 1
173                     597 Sheffield Truck 0
174                        742 Tionesta SUV 2
175                     837 Sheffield Sedan 1
176                            842 Kane SUV 0
177                         434 Olean Sedan 4
178                         640 Olean Sedan 1
179                        821 Tionesta SUV 1
180                       487 Olean Compact 4

[180 rows x 1 columns]

In [0]:
import pandas as pd
#import io
from google.colab import files

uploaded = files.upload()
zipcode = pd.read_csv('seoul_zip.csv')
print(zipcode)

print(zipcode.dtypes) # 자료형
print(zipcode.shape) # 형태
print(zipcode.ndim) # 차원수
print(zipcode.empty) # 비어있는지 여부
print(zipcode.size) # 행x열
print(zipcode.values)

zipcode.head()
zipcode.head(10)
zipcode.tail()
zipcode.tail(10)

Saving seoul_zip.csv to seoul_zip (1).csv

KeyboardInterrupt: ignored

In [0]:
zipcode.describe() # 간략한 통계정보 출력 // R의 summary함수와 유사

                우편번호   읍면         건물번호본번        건물번호부번   리명           지번본번           지번부번
count  558831.000000  0.0  558831.000000  558831.00000  0.0  558831.000000  558831.000000
mean     4887.388898  NaN      63.913997       3.95892  NaN     370.026512      64.711210
std      2328.854855  NaN     143.578631       7.59184  NaN     424.202806     176.852723
min      1000.000000  NaN       1.000000       0.00000  NaN       0.000000       0.000000
25%      2863.000000  NaN      13.000000       0.00000  NaN     101.000000       6.000000
50%      4611.000000  NaN      27.000000       0.00000  NaN     254.000000      18.000000
75%      7013.000000  NaN      55.000000       6.00000  NaN     513.000000      50.000000
max      8866.000000  NaN    3833.000000     222.00000  NaN    9999.000000    4777.000000

In [0]:
import os
os.getcwd() # current working directory

'/content'

In [0]:
# 누락된 데이터 missing data 다루기
# null, NaN, NA, None
# 파이썬/판다스 에서는 NaN (float) 또는 None (object) 으로 취급
# 단, 정수형 누락값인 NA는 pandas에서는 취급 불가

In [0]:
j = np.array([1,2, None, 4,5])
print(j)
print('누락된 데이터', j)
print('누락된 데이터 유형', j.dtype)
# print('누락된 데이터 산술연산', j*100) # 오류! (None으로 인해 연산 오류)
# print('누락된 데이터 산술연산', j.sum()) # 오류! (None으로 인해 연산 오류)

[1 2 None 4 5]
누락된 데이터 [1 2 None 4 5]
누락된 데이터 유형 object

In [0]:
# k = np.array(1,2, NaN, 4,5) # 오류! (NaN 앞에 np. 안 하면 오류)
k = np.array([1,2, np.NaN, 4,5])
print('누락된 데이터', k)
print('누락된 데이터 유형', k.dtype)
print('누락된 데이터 산술연산 (*100)? => ', k*100) # 좌 연산에서 np.Nan은 민폐 안 끼치긴 하나..
print('누락된 데이터 산술연산 (sum)? => ', k.sum()) # 좌 연산에서 np.Nan은 민폐 안 끼치나 sum은 nan

# => numpy 배열은 누락된 데이터에 대한 산술연산 불가

print('-------------------------------- 구분선')

k = pd.Series([1,2, np.NaN, 4, None])
print('누락된 데이터', k)
print('누락된 데이터 유형', k.dtype)
print('누락된 데이터 산술연산 (*100)? => ', k*100) # 좌 연산에서 np.Nan이나 None 민폐 안 끼치고, None은 Nan으로 바뀜
print('누락된 데이터 산술연산 (sum)? => ', k.sum()) # 좌 연산에서 np.Nan이나 None은 민폐 안 끼치고 sum은 NaN 제외하고 나오긴 함

누락된 데이터 [ 1.  2. nan  4.  5.]
누락된 데이터 유형 float64
누락된 데이터 산술연산 (*100)? =>  [100. 200.  nan 400. 500.]
누락된 데이터 산술연산 (sum)? =>  nan
-------------------------------- 구분선
누락된 데이터 0    1.0
1    2.0
2    NaN
3    4.0
4    NaN
dtype: float64
누락된 데이터 유형 float64
누락된 데이터 산술연산 (*100)? =>  0    100.0
1    200.0
2      NaN
3    400.0
4      NaN
dtype: float64
누락된 데이터 산술연산 (sum)? =>  7.0

In [0]:
# pandas 자료구조에서는 null 값을 감지하고 삭제하는 기능 제공
# => isnull, dropna, notnull, fillna

m = pd.Series([1,2, np.nan, 4, None])
print(m)
print('------------------------------------')
print('null 여부', m.isnull())
print('null 여부', m.isna())
print('null 아닌 여부', m.notnull())
print('------------------------------------')
print('null인 애들 출력', m[m.isnull()])
# print('null인 애들 출력', m([NaN])) 오류
# print('null인 애들 출력', m(['NaN'])) 오류
print()
print('정상값만 출력 1', m[m.notnull()])
print('정상값만 출력 2', m[~m.isnull()])
print('정상값만 출력 3', m[m.dropna()])
# print('정상값만 출력 4', m[m.dropnull()]) 오류
# print('정상값만 출력 5', m[m.dropnan()]) 오류
print('--------------------------------------')
print('정상값만 출력 6', m.fillna(0))

0    1.0
1    2.0
2    NaN
3    4.0
4    NaN
dtype: float64
------------------------------------
null 여부 0    False
1    False
2     True
3    False
4     True
dtype: bool
null 아닌 여부 0     True
1     True
2    False
3     True
4    False
dtype: bool
------------------------------------
null인 애들 출력 2   NaN
4   NaN
dtype: float64

정상값만 출력 1 0    1.0
1    2.0
3    4.0
dtype: float64
정상값만 출력 2 0    1.0
1    2.0
3    4.0
dtype: float64
정상값만 출력 3 1.0    2.0
2.0    NaN
4.0    NaN
dtype: float64
--------------------------------------
정상값만 출력 6 0    1.0
1    2.0
2    0.0
3    4.0
4    0.0
dtype: float64

In [2]:
# ex) zipcode 데이터프레임의 누락값을 공백으로 바꿈

import pandas as pd
from google.colab import files

uploaded = files.upload()
zipcode = pd.read_csv('seoul_zip.csv')
print(zipcode)

Saving seoul_zip.csv to seoul_zip.csv
        우편번호     시도  시군구  읍면       도로명  ...  법정동명  리명   행정동명  지번본번  지번부번
0       6336  서울특별시  강남구 NaN       개포로  ...   개포동 NaN    NaN    14     5
1       6307  서울특별시  강남구 NaN       논현로  ...   개포동 NaN   개포4동  1229     1
2       6314  서울특별시  강남구 NaN     논현로6길  ...   개포동 NaN   개포4동  1189    11
3       6312  서울특별시  강남구 NaN    논현로12길  ...   개포동 NaN   개포4동  1196     9
4       6312  서울특별시  강남구 NaN       논현로  ...   개포동 NaN    NaN  1194     4
5       6315  서울특별시  강남구 NaN     논현로2길  ...   개포동 NaN   개포4동  1165     9
6       6323  서울특별시  강남구 NaN       개포로  ...   개포동 NaN   개포2동   175     3
7       6318  서울특별시  강남구 NaN       선릉로  ...   개포동 NaN    NaN   650     0
8       6305  서울특별시  강남구 NaN       개포로  ...   개포동 NaN    NaN   655     0
9       6307  서울특별시  강남구 NaN       개포로  ...   개포동 NaN   개포4동  1238     2
10      6329  서울특별시  강남구 NaN       삼성로  ...   개포동 NaN   개포2동   186     2
11      6311  서울특별시  강남구 NaN    개포로22길  ...   개포동 NaN   개포4동  1272     0
12      6313  서울특별시  강남구 NaN     논현로2길  ...   개포동 NaN   개포4동  1164     0
13      6306  서울특별시  강남구 NaN    개포로31길  ...   개포동 NaN   개포4동  1264     4
14      6306  서울특별시  강남구 NaN    개포로31길  ...   개포동 NaN   개포4동  1265     2
15      6308  서울특별시  강남구 NaN    개포로26길  ...   개포동 NaN   개포4동  1205     4
16      6306  서울특별시  강남구 NaN    개포로21길  ...   개포동 NaN   개포4동  1249     1
17      6303  서울특별시  강남구 NaN       개포로  ...   개포동 NaN   개포4동  1246     3
18      6309  서울특별시  강남구 NaN       개포로  ...   개포동 NaN   개포4동  1212     0
19      6307  서울특별시  강남구 NaN    논현로18길  ...   개포동 NaN   개포4동  1235    16
20      6324  서울특별시  강남구 NaN       삼성로  ...   개포동 NaN    NaN   152     0
21      6317  서울특별시  강남구 NaN       언주로  ...   개포동 NaN   개포1동   649     0
22      6314  서울특별시  강남구 NaN    개포로22길  ...   개포동 NaN   개포4동  1184     8
23      6325  서울특별시  강남구 NaN       선릉로  ...   개포동 NaN   개포2동   172    11
24      6311  서울특별시  강남구 NaN    개포로28길  ...   개포동 NaN    NaN  1271     0
25      6305  서울특별시  강남구 NaN       언주로  ...   개포동 NaN   개포4동   655     2
26      6309  서울특별시  강남구 NaN    개포로38길  ...   개포동 NaN   개포4동  1211     4
27      6324  서울특별시  강남구 NaN       개포로  ...   개포동 NaN   개포2동   173     0
28      6327  서울특별시  강남구 NaN     선릉로4길  ...   개포동 NaN   개포2동   139     0
29      6305  서울특별시  강남구 NaN       개포로  ...   개포동 NaN    NaN   655     4
...      ...    ...  ...  ..       ...  ...   ...  ..    ...   ...   ...
558801  2015  서울특별시  중랑구 NaN  동일로139다길  ...   중화동 NaN    NaN   308    76
558802  2100  서울특별시  중랑구 NaN      봉화산로  ...   중화동 NaN    NaN   330     1
558803  2051  서울특별시  중랑구 NaN   동일로136길  ...   중화동 NaN    NaN   286    33
558804  2089  서울특별시  중랑구 NaN   봉화산로24길  ...   중화동 NaN  중화제1동   149     3
558805  2094  서울특별시  중랑구 NaN   봉화산로26길  ...   중화동 NaN  중화제1동   158     3
558806  2101  서울특별시  중랑구 NaN   봉화산로10길  ...   중화동 NaN  중화제2동   312    28
558807  2100  서울특별시  중랑구 NaN    봉화산로2길  ...   중화동 NaN  중화제2동   330    42
558808  2106  서울특별시  중랑구 NaN   중랑역로15길  ...   중화동 NaN  중화제2동   317    84
558809  2112  서울특별시  중랑구 NaN   중랑역로3나길  ...   중화동 NaN  중화제2동   322    48
558810  2111  서울특별시  중랑구 NaN   중랑역로3나길  ...   중화동 NaN  중화제2동   318    52
558811  2015  서울특별시  중랑구 NaN      중랑천로  ...   중화동 NaN  중화제2동   332   122
558812  2047  서울특별시  중랑구 NaN   동일로140길  ...   중화동 NaN  중화제1동   275     6
558813  2101  서울특별시  중랑구 NaN   봉화산로10길  ...   중화동 NaN  중화제2동   312    69
558814  2110  서울특별시  중랑구 NaN    중랑역로9길  ...   중화동 NaN    NaN   320    33
558815  2114  서울특별시  중랑구 NaN      중랑천로  ...   중화동 NaN  중화제2동   325   111
558816  2107  서울특별시  중랑구 NaN  동일로123나길  ...   중화동 NaN  중화제2동   299    74
558817  2107  서울특별시  중랑구 NaN  동일로123나길  ...   중화동 NaN  중화제2동   299    75
558818  2047  서울특별시  중랑구 NaN   동일로144길  ...   중화동 NaN  중화제1동   282     5
558819  2015  서울특별시  중랑구 NaN    봉화산로3길  ...   중화동 NaN  중화제2동   309    56
558820  2015  서울특별시  중랑구 NaN    봉화산로3길  ...   중화동 NaN  중화제2동   309    16
558821  2015  서울특별시  중랑구 NaN      중랑천로  ...   중화동 NaN  중화제2동   332    80
558822  2094  서울특별시  중랑구 NaN   봉화산로20길  ...   중화동 NaN  중화제1동   291    32
558823  2094  서울특별시  중랑구 NaN   봉화산로26길  ...   중화동 NaN    NaN   457     0
558824  2110  서울특별시  중랑구 NaN    중랑역로9길  ...   중화동 NaN  중화제2동   320    77
558825  2111  서울특별시  중랑구 NaN   중랑역로3나길  ...   중화동 NaN  중화제2동   318    75
558826  2015  서울특별시  중랑구 NaN      중랑역로  ...   중화동 NaN  중화제2동   308     5
558827  2100  서울특별시  중랑구 NaN   동일로123길  ...   중화동 NaN  중화제2동   330    59
558828  2100  서울특별시  중랑구 NaN   동일로123길  ...   중화동 NaN  중화제2동   329    53
558829  2094  서울특별시  중랑구 NaN   동일로126길  ...   중화동 NaN  중화제1동   293     4
558830  2094  서울특별시  중랑구 NaN   동일로130길  ...   중화동 NaN    NaN   293    25

[558831 rows x 13 columns]

In [7]:
print(zipcode.head())

# 누락값을 공백으로 처리1 
# zipcode = zipcode.fillna('')
zipcode.fillna('', inplace=True) # 변수 사용 없이 수정사항 바로 적용


# 누락값을 공백으로 처리2 : replace
zipcode.replace(np.nan, '', inplace=True)

print(zipcode)

   우편번호     시도  시군구 읍면     도로명  건물번호본번  ...  시군구용건물명 법정동명 리명  행정동명  지번본번  지번부번
0  6336  서울특별시  강남구        개포로     621  ...     SH공사  개포동             14     5
1  6307  서울특별시  강남구        논현로      88  ...  KSD노엘빌딩  개포동     개포4동  1229     1
2  6314  서울특별시  강남구      논현로6길      11  ...       HC  개포동     개포4동  1189    11
3  6312  서울특별시  강남구     논현로12길       9  ...   Classe  개포동     개포4동  1196     9
4  6312  서울특별시  강남구        논현로      42  ...    글로리빌딩  개포동           1194     4

[5 rows x 13 columns]
        우편번호     시도  시군구 읍면       도로명  ...  법정동명  리명   행정동명  지번본번 지번부번
0       6336  서울특별시  강남구          개포로  ...   개포동               14    5
1       6307  서울특별시  강남구          논현로  ...   개포동       개포4동  1229    1
2       6314  서울특별시  강남구        논현로6길  ...   개포동       개포4동  1189   11
3       6312  서울특별시  강남구       논현로12길  ...   개포동       개포4동  1196    9
4       6312  서울특별시  강남구          논현로  ...   개포동             1194    4
5       6315  서울특별시  강남구        논현로2길  ...   개포동       개포4동  1165    9
6       6323  서울특별시  강남구          개포로  ...   개포동       개포2동   175    3
7       6318  서울특별시  강남구          선릉로  ...   개포동              650    0
8       6305  서울특별시  강남구          개포로  ...   개포동              655    0
9       6307  서울특별시  강남구          개포로  ...   개포동       개포4동  1238    2
10      6329  서울특별시  강남구          삼성로  ...   개포동       개포2동   186    2
11      6311  서울특별시  강남구       개포로22길  ...   개포동       개포4동  1272    0
12      6313  서울특별시  강남구        논현로2길  ...   개포동       개포4동  1164    0
13      6306  서울특별시  강남구       개포로31길  ...   개포동       개포4동  1264    4
14      6306  서울특별시  강남구       개포로31길  ...   개포동       개포4동  1265    2
15      6308  서울특별시  강남구       개포로26길  ...   개포동       개포4동  1205    4
16      6306  서울특별시  강남구       개포로21길  ...   개포동       개포4동  1249    1
17      6303  서울특별시  강남구          개포로  ...   개포동       개포4동  1246    3
18      6309  서울특별시  강남구          개포로  ...   개포동       개포4동  1212    0
19      6307  서울특별시  강남구       논현로18길  ...   개포동       개포4동  1235   16
20      6324  서울특별시  강남구          삼성로  ...   개포동              152    0
21      6317  서울특별시  강남구          언주로  ...   개포동       개포1동   649    0
22      6314  서울특별시  강남구       개포로22길  ...   개포동       개포4동  1184    8
23      6325  서울특별시  강남구          선릉로  ...   개포동       개포2동   172   11
24      6311  서울특별시  강남구       개포로28길  ...   개포동             1271    0
25      6305  서울특별시  강남구          언주로  ...   개포동       개포4동   655    2
26      6309  서울특별시  강남구       개포로38길  ...   개포동       개포4동  1211    4
27      6324  서울특별시  강남구          개포로  ...   개포동       개포2동   173    0
28      6327  서울특별시  강남구        선릉로4길  ...   개포동       개포2동   139    0
29      6305  서울특별시  강남구          개포로  ...   개포동              655    4
...      ...    ...  ... ..       ...  ...   ...  ..    ...   ...  ...
558801  2015  서울특별시  중랑구     동일로139다길  ...   중화동              308   76
558802  2100  서울특별시  중랑구         봉화산로  ...   중화동              330    1
558803  2051  서울특별시  중랑구      동일로136길  ...   중화동              286   33
558804  2089  서울특별시  중랑구      봉화산로24길  ...   중화동      중화제1동   149    3
558805  2094  서울특별시  중랑구      봉화산로26길  ...   중화동      중화제1동   158    3
558806  2101  서울특별시  중랑구      봉화산로10길  ...   중화동      중화제2동   312   28
558807  2100  서울특별시  중랑구       봉화산로2길  ...   중화동      중화제2동   330   42
558808  2106  서울특별시  중랑구      중랑역로15길  ...   중화동      중화제2동   317   84
558809  2112  서울특별시  중랑구      중랑역로3나길  ...   중화동      중화제2동   322   48
558810  2111  서울특별시  중랑구      중랑역로3나길  ...   중화동      중화제2동   318   52
558811  2015  서울특별시  중랑구         중랑천로  ...   중화동      중화제2동   332  122
558812  2047  서울특별시  중랑구      동일로140길  ...   중화동      중화제1동   275    6
558813  2101  서울특별시  중랑구      봉화산로10길  ...   중화동      중화제2동   312   69
558814  2110  서울특별시  중랑구       중랑역로9길  ...   중화동              320   33
558815  2114  서울특별시  중랑구         중랑천로  ...   중화동      중화제2동   325  111
558816  2107  서울특별시  중랑구     동일로123나길  ...   중화동      중화제2동   299   74
558817  2107  서울특별시  중랑구     동일로123나길  ...   중화동      중화제2동   299   75
558818  2047  서울특별시  중랑구      동일로144길  ...   중화동      중화제1동   282    5
558819  2015  서울특별시  중랑구       봉화산로3길  ...   중화동      중화제2동   309   56
558820  2015  서울특별시  중랑구       봉화산로3길  ...   중화동      중화제2동   309   16
558821  2015  서울특별시  중랑구         중랑천로  ...   중화동      중화제2동   332   80
558822  2094  서울특별시  중랑구      봉화산로20길  ...   중화동      중화제1동   291   32
558823  2094  서울특별시  중랑구      봉화산로26길  ...   중화동              457    0
558824  2110  서울특별시  중랑구       중랑역로9길  ...   중화동      중화제2동   320   77
558825  2111  서울특별시  중랑구      중랑역로3나길  ...   중화동      중화제2동   318   75
558826  2015  서울특별시  중랑구         중랑역로  ...   중화동      중화제2동   308    5
558827  2100  서울특별시  중랑구      동일로123길  ...   중화동      중화제2동   330   59
558828  2100  서울특별시  중랑구      동일로123길  ...   중화동      중화제2동   329   53
558829  2094  서울특별시  중랑구      동일로126길  ...   중화동      중화제1동   293    4
558830  2094  서울특별시  중랑구      동일로130길  ...   중화동              293   25

[558831 rows x 13 columns]

In [8]:
# ex) titanic 데이터프레임의 누락값을 제거하고 출력

import pandas as pd
from google.colab import files

uploaded = files.upload()
titanic = pd.read_csv('titanic.csv')
print(titanic)

Saving titanic.csv to titanic.csv
     PassengerId  Survived  Pclass  ...      Fare        Cabin  Embarked
0              1         0       3  ...    7.2500          NaN         S
1              2         1       1  ...   71.2833          C85         C
2              3         1       3  ...    7.9250          NaN         S
3              4         1       1  ...   53.1000         C123         S
4              5         0       3  ...    8.0500          NaN         S
5              6         0       3  ...    8.4583          NaN         Q
6              7         0       1  ...   51.8625          E46         S
7              8         0       3  ...   21.0750          NaN         S
8              9         1       3  ...   11.1333          NaN         S
9             10         1       2  ...   30.0708          NaN         C
10            11         1       3  ...   16.7000           G6         S
11            12         1       1  ...   26.5500         C103         S
12            13         0       3  ...    8.0500          NaN         S
13            14         0       3  ...   31.2750          NaN         S
14            15         0       3  ...    7.8542          NaN         S
15            16         1       2  ...   16.0000          NaN         S
16            17         0       3  ...   29.1250          NaN         Q
17            18         1       2  ...   13.0000          NaN         S
18            19         0       3  ...   18.0000          NaN         S
19            20         1       3  ...    7.2250          NaN         C
20            21         0       2  ...   26.0000          NaN         S
21            22         1       2  ...   13.0000          D56         S
22            23         1       3  ...    8.0292          NaN         Q
23            24         1       1  ...   35.5000           A6         S
24            25         0       3  ...   21.0750          NaN         S
25            26         1       3  ...   31.3875          NaN         S
26            27         0       3  ...    7.2250          NaN         C
27            28         0       1  ...  263.0000  C23 C25 C27         S
28            29         1       3  ...    7.8792          NaN         Q
29            30         0       3  ...    7.8958          NaN         S
..           ...       ...     ...  ...       ...          ...       ...
861          862         0       2  ...   11.5000          NaN         S
862          863         1       1  ...   25.9292          D17         S
863          864         0       3  ...   69.5500          NaN         S
864          865         0       2  ...   13.0000          NaN         S
865          866         1       2  ...   13.0000          NaN         S
866          867         1       2  ...   13.8583          NaN         C
867          868         0       1  ...   50.4958          A24         S
868          869         0       3  ...    9.5000          NaN         S
869          870         1       3  ...   11.1333          NaN         S
870          871         0       3  ...    7.8958          NaN         S
871          872         1       1  ...   52.5542          D35         S
872          873         0       1  ...    5.0000  B51 B53 B55         S
873          874         0       3  ...    9.0000          NaN         S
874          875         1       2  ...   24.0000          NaN         C
875          876         1       3  ...    7.2250          NaN         C
876          877         0       3  ...    9.8458          NaN         S
877          878         0       3  ...    7.8958          NaN         S
878          879         0       3  ...    7.8958          NaN         S
879          880         1       1  ...   83.1583          C50         C
880          881         1       2  ...   26.0000          NaN         S
881          882         0       3  ...    7.8958          NaN         S
882          883         0       3  ...   10.5167          NaN         S
883          884         0       2  ...   10.5000          NaN         S
884          885         0       3  ...    7.0500          NaN         S
885          886         0       3  ...   29.1250          NaN         Q
886          887         0       2  ...   13.0000          NaN         S
887          888         1       1  ...   30.0000          B42         S
888          889         0       3  ...   23.4500          NaN         S
889          890         1       1  ...   30.0000         C148         C
890          891         0       3  ...    7.7500          NaN         Q

[891 rows x 12 columns]

In [10]:
# 누락값 확인
print(titanic.isnull().sum())

# 누락값 제거
titanic.dropna(inplace=True) # inplace=True 하면 변수 만들어 없데이트 안 쳐도 값 변경 상태 유지
print(titanic.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [0]:
import numpy as np
import pandas as pd